.imgNav {
  height: 40px;
}

.vertical-center{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  margin-top: 11%;
}

#adminboard .card-body:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}

a:link {
  text-decoration: none;
}
/*--index--*/
.carousel-item {
  height: 100vh;
}
.dark-overlay{
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.carousel-image-1 {
  background: url("../images/banner/3A01.730.JPG");
  background-size: cover;
  background-position: 0px;
}
.carousel-image-2 {
  background: url("../images/banner/6A03.12.JPG");
  background-size: cover;
  background-position: -50px;
}
.carousel-image-3 {
  background: url("../images/banner/8A0022.jpg");
  background-size: cover;
  background-position: -50px ;
  scale: 80%;
}
.carousel-image-4 {
  background: url("../images/banner/8A0180.jpg");
  background-size: cover;
  background-position: -50px;
  scale: 80%;
}
.carousel-image-5 {
  background: url("../images/banner/8B86.00.jpg");
  background-size: cover;
  background-position: -50px;
}
.carousel-image-6 {
  background: url("../images/banner/8A86.00.jpg");
  background-size: cover;
  background-position: -50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '';
  font-size: 50px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '';
  font-size: 50px;
  color: black;
}



#products .card:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.borderless td, .borderless th,  .borderless tr  {
    border: none;
    font-size: 20pt;
}
#productModal .modal-content{
    width: 150%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#loginSuccessModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


#dropCart{
	padding:20px;
	top:30px !important;
	width:350px !important;
	left:-110px !important;
	box-shadow:0px 5px 30px black;
}
.total-header-section{
	border-bottom:1px solid #d2d2d2;
}
.total-section p{
	margin-bottom:20px;
}
.cart-detail{
	padding:15px 0px;
}
.cart-detail-img img{
	width:100%;
	height:100%;
	padding-left:15px;
}
.cart-detail-product p{
	margin:0px;
	color:#000;
	font-weight:500;
}
.cart-detail .price{
	font-size:12px;
	margin-right:10px;
	font-weight:500;
}
.cart-detail .count{
	color:#C2C2DC;
}


.dropdown-menu:before{
  content: " ";
  position:absolute;
  top:-20px;
  right:50px;
  border:10px solid transparent;
  border-bottom-color:#fff; 
}

